ion-slides{
    height:100%;
}

.slide_1{
    background-color: Pink;
    height:100%;
}

.slide_2{
    background-color: blue;
    height:100%;
}

.slide_3{
    background-color: orange;
    height:100%;
}

